# === IDEs y configuración de proyecto ===
.idea/
*.iml
.vscode/

# === Compilados y cachés de Python ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Entornos virtuales ===
.venv/
venv/

# === Archivos y directorios generados automáticamente ===
/outputs/
.idea/workspace.xml
/data/
pacientes/
*.csv
*.zip
*.txt

# === Otros ===
out/
gen/
.DS_Store
