# === IDEs ===
.idea/
*.iml
.vscode/

# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd

# === Entornos virtuales ===
.venv/
venv/

# === Datos y salidas generadas ===
/data/**
!/data/.gitkeep
/outputs/**
!/outputs/.gitkeep
*.csv
*.zip

# === Archivos sensibles o innecesarios ===
*.bak
*.tmp
.DS_Store

# === Otros ===
out/
gen/
